# 国内源加速配置，新版Armbian编译必备
APT_MIRROR='http://mirrors.tuna.tsinghua.edu.cn/debian/'
APT_SECURITY_MIRROR='http://mirrors.tuna.tsinghua.edu.cn/debian-security/'
GITHUB_MIRROR='https://mirrors.ustc.edu.cn/github-release/'
KERNEL_MIRROR='https://mirrors.ustc.edu.cn/linux-kernel/'
# 允许编译非官方支持的板型（RK3128必备）
ALLOW_UNSUPPORTED_BOARD=yes
